.testimonialsSection {
  width: 100%;
  background: #111;
  position: relative;
}

.testimonialsContainer {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-top: 70px;
}


.networkTag {
    max-width: max-content;
    margin: auto auto 30px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #A1A1AA;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 8px 20px;
    border-radius: 100px;
    background: rgba(45, 45, 45, .4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 30px;
}


.networkTag::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100px;
    padding: 1px;
    background: linear-gradient(170deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .3));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.testimonialsContainer h1 {
  font-size: 64px;
  font-weight: 500;
  text-align: center;
  color: white;
  background: linear-gradient(180deg, #fdf7fe, #d8bf7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 53px 0 80px;
}

.stickyContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}

.scrollContent {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 200px;
}

.testimonialCardWrapper {
  flex: 0 0 450px;
  border-radius: 20px;
  border: 0.5px solid rgba(171, 171, 171, 0.4);
  background: #1a1a1a;
  height: 480px;
  padding: 24px;
}

.testimonialCard {
  border-radius: 16px;
  background: #242424;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("/images/investors/bg.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 75% auto;
}

.testimonialCard p {
  color: white;
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 1rem;
  line-height: 32px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: auto;
}

.profile img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: cover;
}

.profile div h3 {
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-bottom: 8px;
}

.profile div p {
  font-size: 15px;
  font-weight: 300;
  color: white;
  margin-bottom: unset;
}

/* Carousel (for mobile only) */
.carouselMob {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carouselTrackMob {
  display: flex;
  gap: 20px;
  transition: transform 0.6s ease;
  cursor: grab;
}

/* Hide mobile carousel on desktop */
@media (min-width: 1025px) {
  .carouselMob {
    display: none;
  }
}

/* Responsive adjustments for mobile */
@media (max-width: 1024px) {
  .stickyContainer {
    display: none;
  }

  .testimonialsContainer {
    padding-top: 0;
    height: unset;
  }

  .testimonialsContainer h1 {
    font-size: 48px;
    margin: 16px 0 50px;
  }

  .testimonialCardWrapper {
    height: 350px;
    padding: 16px;
  }

  .testimonialCard p {
    font-size: 19px;
  }

  .profile div p {
    font-size: 12px;
    line-height: 18px;
  }

  .profile div h3 {
    margin-bottom: 4px;
  }
}
