
.footerBottom {
    background: #111;
    color: #FFFFFF;
    padding: 80px 69px;
    display: flex;
    gap: 16px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footerBottomImage {
    margin-bottom: 18px;
}

.footerBottomImage img {
    height: 90px;
    width: 288px;
}

.footerBottomNav {
    max-width: 1241px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

}

.footerBottomNav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    transition: all .3s ease;
}

.footerBottomNav a:hover {
    border-bottom: 1px solid white;
}

.footerLine {
    height: 0;
    border: .3px solid #ffffff1a;
      margin: 1rem 0;
    color: inherit;
    border: 0;
}


.footerBottomText {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}



@media(max-width:992px) {

    .footerBottom {
        padding: 24px 18px;
    }
}
@media (max-width:768px) {
    .footerBottomImage img {
        height: 48px;
        width: 154px;
    }
}

@media(max-width:480px) {

    .footerBottomNav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-items: center;
    }

    .footerBottom {
        padding: 20px 16px;
    }
}


